<header class="header">
    <div class="main_menu-container">
        <div class="logo">
            <a href="#">
                <div class="logo_container">
                    <div class="pauka_svg"></div>
                </div>
            </a>
        </div>
    <section class="main_menu">
        <ul class="link_box">
            <li class="menu_element"><a href="#">nowości</a></li>
            <li class="menu_element"><a href="#">kolekcje</a></li>
            <li class="menu_element"><a href="#">o mnie</a></li>
            <li class="menu_element"><a href="#">zakupy</a></li>
        </ul>
        <ul class="icon_box">
            <li class="icon_element"><a href="#"><svg width="20" height="20" class="instagram_svg" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.125 0.625H5.875C4.4831 0.626576 3.14865 1.18021 2.16443 2.16443C1.18021 3.14865 0.626576 4.4831 0.625 5.875V14.125C0.626576 15.5169 1.18021 16.8513 2.16443 17.8356C3.14865 18.8198 4.4831 19.3734 5.875 19.375H14.125C15.5169 19.3734 16.8513 18.8198 17.8356 17.8356C18.8198 16.8513 19.3734 15.5169 19.375 14.125V5.875C19.3734 4.4831 18.8198 3.14865 17.8356 2.16443C16.8513 1.18021 15.5169 0.626576 14.125 0.625ZM10 14.5C9.10998 14.5 8.23995 14.2361 7.49993 13.7416C6.75991 13.2471 6.18314 12.5443 5.84254 11.7221C5.50195 10.8998 5.41283 9.99501 5.58647 9.12209C5.7601 8.24918 6.18868 7.44736 6.81802 6.81802C7.44736 6.18868 8.24918 5.7601 9.12209 5.58647C9.99501 5.41283 10.8998 5.50195 11.7221 5.84254C12.5443 6.18314 13.2471 6.75991 13.7416 7.49993C14.2361 8.23995 14.5 9.10998 14.5 10C14.4987 11.1931 14.0241 12.3369 13.1805 13.1805C12.3369 14.0241 11.1931 14.4987 10 14.5ZM14.875 6.25C14.6525 6.25 14.435 6.18402 14.25 6.0604C14.065 5.93679 13.9208 5.76109 13.8356 5.55552C13.7505 5.34995 13.7282 5.12375 13.7716 4.90552C13.815 4.68729 13.9222 4.48684 14.0795 4.3295C14.2368 4.17217 14.4373 4.06502 14.6555 4.02162C14.8738 3.97821 15.1 4.00049 15.3055 4.08564C15.5111 4.17078 15.6868 4.31498 15.8104 4.49998C15.934 4.68499 16 4.9025 16 5.125C16 5.42337 15.8815 5.70952 15.6705 5.9205C15.4595 6.13147 15.1734 6.25 14.875 6.25Z" fill="#CDE7ED"/>
                </svg>
                </a></li>
            <li class="icon_element"><a href="#">bag</a></li>
        </ul>
    </section>
</div>
</header>