<header class="header">
    {% render 'mainMenu' %}
   <div class="header_text">
       <div class="header_text-title">
           <span class="text1 text">stworzone</span>
           <span class="text2 text">do</span>
           <span class="text3 text">kręcenia</span>
       </div>
   </div> 
</header>