<header class="header">
    <div class="main_menu-container">
        <div class="logo">
            <a href="#">
                <div class="logo_container">
                    <div class="pauka_svg"></div>
                </div>
            </a>
        </div>
    <section class="main_menu">
        <ul class="link_box">
            <li class="menu_element"><a href="#">nowości</a></li>
            <li class="menu_element"><a href="#">kolekcje</a></li>
            <li class="menu_element"><a href="#">o mnie</a></li>
            <li class="menu_element"><a href="#">zakupy</a></li>
        </ul>
        <ul class="icon_box">
            <li class="icon_element"><a href="#">instagram</a></li>
            <li class="icon_element"><a href="#">bag</a></li>
        </ul>
    </section>
</div>
</header>