<header class="header">
    {% render 'mainMenu' %}
   <div class="header_text">
       <div class="header_text-title">
           <span class="text1 text">Stworzone</span>
           <span class="text2 text">do </span>
           <span class="text3 text">kręcenia</span>
       </div>
       <div class="header_text-description">
           <span class="description">Piękne i wygodne sukieneczki dla każdej kobiety, które czynią ich codzienność piękniejszą. Dobierz odpowiedni krój i fason. Stylizacja może być zarówno  szykowna lub „na sportowo” i ciesz się komfortem noszenia.</span>
        </div>
        <div class="header_text-seeMore">
            <a href="#">Zobacz najnowszą kolekcję</a>
        </div>
   </div> 
   <div class="header_images">
   <div class="header_image-first">
       <p class="header_image-title">Aurora/p>
       <p class="header_image-text">niebieski jeans</p>
   </div>
   <div class="header_image-second">
       <p class="header_image-title">Aurora</p>
       <p class="header_image-text">niebieski jeans</p>
   </div>
   <div class="header_image-third">
       <p class="header_image-title">Aurora</p>
       <p class="header_image-text">niebieski jeans</p>
   </div>
</div>
</header>
{% render 'cochcenosze' %}
{% render 'homePageCenter' %}