<header class="header">
    <div class="main_menu-container">
        <div class="logo">
            <a href="#">
                <div class="logo_container">
                    <div class="pauka_svg"></div>
                </div>
            </a>
        </div>
    <section class="main_menu">
        <ul class="link_box">
            <li class="menu_element"><a href="#">nowości</a></li>
            <li class="menu_element"><a href="#">kolekcje</a></li>
            <li class="menu_element"><a href="#">o mnie</a></li>
            <li class="menu_element"><a href="#">zakupy</a></li>
        </ul>
        <ul class="icon_box">
            <li class="icon_element"><a href="#"><svg width="20" height="20" class="instagram_svg" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.125 0.625H5.875C4.4831 0.626576 3.14865 1.18021 2.16443 2.16443C1.18021 3.14865 0.626576 4.4831 0.625 5.875V14.125C0.626576 15.5169 1.18021 16.8513 2.16443 17.8356C3.14865 18.8198 4.4831 19.3734 5.875 19.375H14.125C15.5169 19.3734 16.8513 18.8198 17.8356 17.8356C18.8198 16.8513 19.3734 15.5169 19.375 14.125V5.875C19.3734 4.4831 18.8198 3.14865 17.8356 2.16443C16.8513 1.18021 15.5169 0.626576 14.125 0.625ZM10 14.5C9.10998 14.5 8.23995 14.2361 7.49993 13.7416C6.75991 13.2471 6.18314 12.5443 5.84254 11.7221C5.50195 10.8998 5.41283 9.99501 5.58647 9.12209C5.7601 8.24918 6.18868 7.44736 6.81802 6.81802C7.44736 6.18868 8.24918 5.7601 9.12209 5.58647C9.99501 5.41283 10.8998 5.50195 11.7221 5.84254C12.5443 6.18314 13.2471 6.75991 13.7416 7.49993C14.2361 8.23995 14.5 9.10998 14.5 10C14.4987 11.1931 14.0241 12.3369 13.1805 13.1805C12.3369 14.0241 11.1931 14.4987 10 14.5ZM14.875 6.25C14.6525 6.25 14.435 6.18402 14.25 6.0604C14.065 5.93679 13.9208 5.76109 13.8356 5.55552C13.7505 5.34995 13.7282 5.12375 13.7716 4.90552C13.815 4.68729 13.9222 4.48684 14.0795 4.3295C14.2368 4.17217 14.4373 4.06502 14.6555 4.02162C14.8738 3.97821 15.1 4.00049 15.3055 4.08564C15.5111 4.17078 15.6868 4.31498 15.8104 4.49998C15.934 4.68499 16 4.9025 16 5.125C16 5.42337 15.8815 5.70952 15.6705 5.9205C15.4595 6.13147 15.1734 6.25 14.875 6.25Z" fill="#CDE7ED"/>
                </svg>
                </a></li>
            <li class="icon_element"><a href="#"><svg width="22" height="19" class="bag_svg" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.4029 17.3344L20.0696 5.33433C20.0292 4.96732 19.8547 4.62815 19.5795 4.3819C19.3044 4.13565 18.948 3.99966 18.5788 4H15.4364C15.2593 2.95148 14.7166 1.99956 13.9045 1.3131C13.0924 0.626636 12.0634 0.25 11 0.25C9.93669 0.25 8.90769 0.626636 8.09559 1.3131C7.28349 1.99956 6.74078 2.95148 6.56372 4H3.42132C3.05207 3.99966 2.6957 4.13566 2.42056 4.38192C2.14542 4.62818 1.9709 4.96735 1.93046 5.33438L0.597181 17.3344C0.573893 17.544 0.595092 17.7563 0.659392 17.9572C0.723693 18.1581 0.829649 18.3432 0.970343 18.5004C1.11104 18.6576 1.2833 18.7833 1.47589 18.8694C1.66849 18.9555 1.87707 19 2.08803 19H19.9121C20.123 19 20.3316 18.9555 20.5242 18.8694C20.7168 18.7833 20.889 18.6576 21.0297 18.5004C21.1704 18.3432 21.2764 18.1581 21.3407 17.9572C21.405 17.7563 21.4262 17.544 21.4029 17.3344H21.4029ZM11 1.75C11.665 1.75085 12.3108 1.97218 12.8365 2.37932C13.3622 2.78647 13.738 3.35644 13.9051 4H8.09498C8.26211 3.35644 8.63793 2.78647 9.16361 2.37932C9.68928 1.97218 10.3351 1.75085 11 1.75Z" fill="#CDE7ED"/>
                </svg>
                </a></li>
        </ul>
    </section>
</div>
</header>