<header class="header">
    {% render 'mainMenu' %}
   <div class="header_text">
       <div class="header_text-title">
           <span class="text1 text">stworzone</span>
           <span class="text2 text">do</span>
           <span class="text3 text">kręcenia</span>
       </div>
       <div class="header_text-description">
           <span class="description">Piękne i wygodne sukieneczki dla każdej kobiety, które czynią ich codzienność piękniejszą. Dobierz odpowiedni krój i fason. Stylizacja może być zarówno  szykowna lub „na sportowo” i ciesz się komfortem noszenia.</span>
        </div>
   </div> 
</header>