
@import './components/mainMenu.scss';
@import './components/vars';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'lombard';
    background-color: $pink1;
}
