@import './components/vars';
@import './components/header';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::marker {
    content: '';
}
body {
    max-width: 1440px;
    margin: 0 auto;
}

